{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<header class="bg-light d-flex justify-content-center align-items-center">
    <h1>My page</h1>
</header>
<main id="mainGrid"class="container bg-light">
    <div id="firstRow" class="row">
        <div class="col">a</div>
        <div class="col">b</div>
        <div class="col">c</div>
    </div>
    <div id="secondRow" class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div id="thirdRow" class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</main>
<footer class="bg-light d-flex justify-content-center align-items-center">
    <h1>footer</h1>
</footer>
{% endblock body %}